<!DOCTYPE html>
<html class="accesorios" lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <section>
                    <div class="product-accesory">
                        <div class="barr">
                            <div class="stable">
                                <span>Accesorios</span>
                            </div>
                            <div class="moving">
                                <span>Mochilas, cinturones, guantes, sombreros, máscaras.</span>
                            </div>
                        </div>
                        <div class="accesory-container">
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio1.png">
                                <span class="accesory-detail">Waterproof backpack with owl pattern</span>
                                <span class="accesory-price">$1.050</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio2.png">
                                <span class="accesory-detail">Helmet Hat Steam Punk Biker </span>
                                <span class="accesory-price">$850</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio3.png">
                                <span class="accesory-detail">Steampunk 'Kraken' Mini Top Hat</span>
                                <span class="accesory-price">$1.300</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio4.png">
                                <span class="accesory-detail">Black 'Wolverine' Faux Fur Jacket</span>
                                <span class="accesory-price">$2.850</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio5.png">
                                <span class="accesory-detail">Black 'Warlock' Face Mask</span>
                                <span class="accesory-price">$4.150</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio6.png">
                                <span class="accesory-detail">Women's Punk Rivets Faux Leather Masks</span>
                                <span class="accesory-price">$3.150</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio7.png">
                                <span class="accesory-detail">Velvet Leather Choker Gothic Punk</span>
                                <span class="accesory-price">$2.220</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio8.png">
                                <span class="accesory-detail">'Claustramoris' Pendant</span>
                                <span class="accesory-price">$3.150</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio9.png">
                                <span class="accesory-detail">Punk Rave Gothic Mens Black Long </span>
                                <span class="accesory-price">$5.150</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <article class="myAccesorySlides fade">
                                <img src="../images/accesorio10.png">
                                <span class="accesory-detail">Punk Rave Mens Punk Military Hat</span>
                                <span class="accesory-price">$4.350</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="accesorybutton">Agregar al carrito</button>
                            </article>
                            <a class="prev" onclick="accesoryplusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="accesoryplusSlides(1)">&#10095;</a>
                        </div>

                    </div>

                    <div class="interludio">
                    </div>

                </section>



            </main>
            <%- include('../partials/footer'); %>
                <script src="../../js/menu.js"></script>
    </body>

</html>