<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <div class="main-container-product">
                    <div class="main-product">
                        <img src="../images/hogar1.png">
                    </div>
                    <div class="details-products">
                        <h3>Titulo del Producto</h3>
                        <span>$550</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nobis porro molestias.</p>
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" id="cantidad" min="1" max="10">
                        <button>Agregar al carrito</button>
                    </div>
                </div>

            </main>
            <%- include('../partials/footer'); %>
                <script src="../js/menu.js"></script>
                <script src="../js/productDetail.js"></script>

    </body>

</html>