<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <div class="form-container">
                    <h3>Formulario de Carga y Edición de Productos</h3>

                    <p>Que desea hacer?:</p>
                    <div class="seleccion-accion">
                        <button id="menunuevo">Ingresar un nuevo producto</button>
                        <button id="menuedicion">Editar un producto existente</button>
                        <button id="menudelete">Eliminar un producto</button>
                    </div>


                    <div class="form-onlynewproducts escondermenu">
                        <p>* Todos los campos son obligatorios.</p>
                        <hr>
                        <form action="" method="POST">
                            <div class="carga-producto">
                                <label for="product">Seleccione un producto</label>
                                <select id="product" name="products">
                    <option value="Indumentaria">Indumentaria</option>
                    <option value="accesorios">Accesorios</option>
                    <option value="bijouterie">Bijouterie</option>
                    <option value="hogar">Hogar</option>
                </select>
                            </div>
                            <hr>
                            <div class="carga-titulo">
                                <label for="titulo">Ingrese titulo del producto</label>
                                <input type="text" id="titulo" name="titulo" required>
                            </div>
                            <hr>
                            <div class="carga-descripcion">
                                <label for="descripcion">Ingrese la descripcion del producto (max:50 caracteres)</label>
                                <textarea id="descripcion" maxlength="50" required></textarea>
                            </div>
                            <hr>
                            <div class="carga-precio">
                                <label for="precio">Ingrese el precio ($)</label>
                                <input type="number" id="precio" name="precio" min="50" required>
                            </div>
                            <hr>
                            <div class="carga-imagen">
                                <label for="imagen">Seleccione la imagen del producto</label>
                                <input type="file" id="imagen" name="imagen" required>
                            </div>
                            <hr>
                            <div class="buttons">
                                <button type="submit">Enviar</button>
                                <a href="/product/edicion">Cancelar</a>
                            </div>

                        </form>
                    </div>

                    <div class="form-editproducts escondermenu">
                        <p>* Todos los campos son obligatorios.</p>
                        <p>* En caso de no modificarse algun campo, permaneceran los valores originales.</p>
                        <hr>
                        <form action="" method="POST">
                            <div class="edit-producto">
                                <label for="productedit">Seleccione un producto a modificar</label>
                                <select id="productedit" name="products">
                    <option value="Indumentaria">Indumentaria</option>
                    <option value="accesorios">Accesorios</option>
                    <option value="bijouterie">Bijouterie</option>
                    <option value="hogar">Hogar</option>
                </select>
                            </div>
                            <hr>
                            <div class="edit-titulo">
                                <label for="tituloedit">Ingrese un titulo del producto</label>
                                <input type="text" id="tituloedit" name="titulo" required>
                            </div>
                            <hr>
                            <div class="edit-descripcion">
                                <label for="descripcionedit">Ingrese una nueva descripcion del producto (max:50 caracteres)</label>
                                <textarea id="descripcionedit" maxlength="50" required></textarea>
                            </div>
                            <hr>
                            <div class="edit-precio">
                                <label for="precioedit">Ingrese un nuevo precio ($)</label>
                                <input type="number" id="precioedit" name="precio" min="50" required>
                            </div>
                            <hr>
                            <div class="edit-imagen">
                                <label for="imagenedit">Seleccione una nueva imagen del producto</label>
                                <input type="file" id="imagenedit" name="imagen" required>
                            </div>
                            <hr>
                            <div class="buttons">
                                <button type="submit">Enviar</button>
                                <a href="/product/edicion">Cancelar</a>

                            </div>


                        </form>
                    </div>

                    <div class="form-delete escondermenu">
                        <hr>
                        <form action="" method="POST">
                            <div class="delete-producto">
                                <label for="productdelete">Seleccione el tipo de producto a eliminar</label>
                                <select id="productdelete" name="products">
                    <option value="Indumentaria">Indumentaria</option>
                    <option value="accesorios">Accesorios</option>
                    <option value="bijouterie">Bijouterie</option>
                    <option value="hogar">Hogar</option>
                </select>
                            </div>
                            <hr>
                            <div>
                                <label for="productdeleteseleccion">Seleccione el producto:</label>
                                <select id="productdeleteseleccion name=" products ">
                        <option value="Indumentaria ">Producto1</option>
                        <option value="Indumentaria ">Producto2</option>
                        <option value="Indumentaria ">Producto3</option>
                        <option value="Indumentaria ">Producto4</option>
                    </select>
                </div>
                    <hr>
                    <div class="buttons ">
                    <button type="submit ">Eliminar</button>
                    <a href="/product/edicion ">Cancelar</a>
                </div>

                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
    <script src="../js/menu.js "></script>
    <script src="../js/cargayedicion.js "></script>


</body>

</html>