<!DOCTYPE html>
<html class="indumentaria" lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <section>
                    <div class="product-clothes">
                        <div class="barr">
                            <div class="stable">
                                <span>Indumentaria</span>
                            </div>
                            <div class="moving">
                                <span>Gótica, post-apocalíptica, punk, steampunk.</span>
                            </div>
                        </div>
                        <!---->
                        <div class="clothes-container">
                            <article class="myclothesSlides fade">
                                <img src="../images/indu1.png">
                                <span class="clothes-detail">Punk Rave
                        Black 'Rebellion' Waistcoat</span>
                                <span class="clothes-price">$1.550</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>

                            <article class="myclothesSlides fade">
                                <img src="../images/indu2.png">
                                <span class="clothes-detail">Black 'Lilian' Short Sleeves Lolita Top</span>
                                <span class="clothes-price">$1.250</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>
                            <article class="myclothesSlides fade">
                                <img src="../images/indu3.png">
                                <span class="clothes-detail">Black 'Ballista' Short Sleeves Blouse</span>
                                <span class="clothes-price">$1.950</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>
                            <article class="myclothesSlides fade">
                                <img src="../images/indu4.png">
                                <span class="clothes-detail">Black 'Centaur' Pants</span>
                                <span class="clothes-price">$2.250</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>
                            <article class="myclothesSlides fade">
                                <img src="../images/indu5.png">
                                <span class="clothes-detail">Punk Rave Gothic Black Men's </span>
                                <span class="clothes-price">$4.250</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>
                            <article class="myclothesSlides fade">
                                <img src="../images/indu6.png">
                                <span class="clothes-detail">Black Brocade and Burgundy Velvet 'Silvanus' Waistcoat</span>
                                <span class="clothes-price">$3.250</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>
                            <article class="myclothesSlides fade">
                                <img src="../images/indu7.png">
                                <span class="clothes-detail">Black 'Alien Nation' Gothic Coat</span>
                                <span class="clothes-price">$3.250</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>
                            <article class="myclothesSlides fade">
                                <img src="../images/indu8.png">
                                <span class="clothes-detail"> Black Overbust Steampunk Corset</span>
                                <span class="clothes-price">$4.250</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>
                            <article class="myclothesSlides fade">
                                <img src="../images/indu9.png">
                                <span class="clothes-detail">Black 'Destruction Unit' Top</span>
                                <span class="clothes-price">$1.750</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>
                            <article class="myclothesSlides fade">
                                <img src="../images/indu10.png">
                                <span class="clothes-detail">Short Pant Bondage Hot Pants</span>
                                <span class="clothes-price">$1.150</span>
                                <i class="fas fa-sync-alt"></i>
                                <button class="clothesbutton">Agregar al carrito</button>
                            </article>

                            <a class="prev" onclick="clothesplusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="clothesplusSlides(1)">&#10095;</a>

                        </div>

                    </div>
                    <div class="interludio">

                    </div>
                </section>



            </main>
            <%- include('../partials/footer'); %>
                <script src="../../js/menu.js"></script>
    </body>

</html>