<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Seaweed+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>Index Principal</title>
</head>

<body>
    <header>
        <div class="content-icon">
            <button id="btn-menu" class="btn-menu"><i class="fas fa-bars"></i></button>
            <div class="logo">
                <img src="../images/cafe3.png" alt="logo">
            </div>
            <div class="busqueda">
                <input type="text" class="input-size" id="barra-busqueda" name="barra-busqueda" placeholder="Ingrese su busqueda">
                <button id="button-search"><i class="fas fa-search"></i></button>
            </div>
            <button id="button-cart"><i class="fas fa-shopping-cart"></i></button>
            <button id="button-user"><i class="fas fa-user"></i></button>
        </div>

        <div class="content-options oculto" id="options-menu">
            <a href="#"><i class="fas fa-heart"></i>Nuestro menú</a>
            <a href="#"><i class="fas fa-mug-hot"></i>Solo cafés</a>
            <a href="#"><i class="fas fa-book-reader"></i>Solo Libros</a>
            <a href="#"><i class="fas fa-sign-in-alt"></i>Ingrese o Regístrese</a>
            <a href="#"><i class="fas fa-file-signature"></i>Contáctenos</a>
        </div>
    </header>

    <main class="main-create">
        <div class="main-create-highlights">
            <ul>
                <li>Compra Protegida</li>
                <li>Paga con tarjeta o en efectivo</li>
                <li>Recibi tu producto</li>
            </ul>

            <section class="section-highlights">
                <article class="slides">

                    <img src="../images/banner1.png" alt="">
                </article>
                <article class="slides">

                    <img src="../images/banner3.png">
                </article>
            </section>
        </div>

        <div class="product-division">
            <hr>
            <div class="leyenda">
                <p>Nuestros cafés</p>
            </div>
            <p>¡El salvador de los momentos de cansancio, la bebida que nos atrae con su fragancia y sabor! El café ha estado en nuestras vidas por 1200- 1300 años, pero se siente como si fuera una de las bebidas más antiguas de la historia de la humanidad.
                Es un consuelo en una taza... Es algo que se espera con ansias... En Café y Letras contamos con la más exquisita selección de granos de cafés... </p>
        </div>

        <div class="coffe-highlights">
            <section class="coffe-division">
                <article class="slides-coffes">
                    <img src="../images/colombia1.png" alt="">
                    <div class="slides-description">
                        <p>Guilis de finca Mocatán, Colombia</p>
                        <p>$1.220</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/taza1.png" alt="">
                    <div class="slides-description">
                        <p>Taza y plato Amera</p>
                        <p>$540</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/Tino.png">
                    <div class="slides-description">
                        <p>Lavazza Qualità Oro</p>
                        <p>$1.350</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/taza2.png">
                    <div class="slides-description">
                        <p>Taza Kendra</p>
                        <p>$450</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/lucifer1.png">
                    <div class="slides-description">
                        <p>Lucifer's Roast Espresso de KIQO</p>
                        <p>$2.550</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>

                <article class="slides-coffes">
                    <img src="../images/taza3.png">
                    <div class="slides-description">
                        <p>Taza de café y platillo Höganäs </p>
                        <p>$550</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/granpremium.png">
                    <div class="slides-description">
                        <p>Café Saula Premium Original</p>
                        <p>$1.750</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/taza4.png">
                    <div class="slides-description">
                        <p>Taza Nordic Kitchen</p>
                        <p>$750</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/master.png">
                    <div class="slides-description">
                        <p>Coffee Masters Triple Certificación</p>
                        <p>$2.050</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/taza5.png">
                    <div class="slides-description">
                        <p>Taza para capuchino 70's</p>
                        <p>$850</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/kona.png">
                    <div class="slides-description">
                        <p>Kona Volcanica</p>
                        <p>$2.000</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/taza6.png">
                    <div class="slides-description">
                        <p>Mug Alba gres 30 cl</p>
                        <p>$550</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/roma.png">
                    <div class="slides-description">
                        <p>Campos Roma Espresso Blend coffee</p>
                        <p>$850</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/taza7.png">
                    <div class="slides-description">
                        <p>Taza y plato Nordic Sea</p>
                        <p>$650</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/grinders.png">
                    <div class="slides-description">
                        <p>Grinders Crema coffee</p>
                        <p>$1050</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/taza8.png">
                    <div class="slides-description">
                        <p>Taza de café y platillo Höganäs 33 cl</p>
                        <p>$580</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/naked.png">
                    <div class="slides-description">
                        <p>Naked Espresso FTO </p>
                        <p>$950</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/taza9.png">
                    <div class="slides-description">
                        <p>Taza Sandrine 8 cm</p>
                        <p>$600</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/amanti.png">
                    <div class="slides-description">
                        <p>Amanti Golden Moka </p>
                        <p>$1200</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
                <article class="slides-coffes">
                    <img src="../images/taza10.png">
                    <div class="slides-description">
                        <p>Mug Lave 40 cl</p>
                        <p>$700</p>
                        <div><button id="button-cart"><i class="fas fa-shopping-cart">Añadir al carrito</i></button></div>
                    </div>
                </article>
            </section>
            <button class="slidesbuttoncoffe1" onclick="plusD(-1)">&#10094;</button>
            <button class="slidesbuttoncoffe2" onclick="plusD(1)">&#10095;</button>
        </div>

        <div class="books-division">
            <div class="product-division">
                <hr>
                <div class="leyenda">
                    <p>Nuestros Libros</p>
                </div>
                <p>Durante siglos los libros han prevalecido como la fuente de conocimiento, verdad, sabiduría y entretenimiento - cruzando los reinos para llegar a la gente intelectual, espiritual y emocionalmente.</p>
            </div>
            <section class="section-los-mas-vendidos">
                <p>Los más vendidos</p>
                <article>
                    <a href="#" class="order-books"><img src="../images/libro1.jpg"></a>
                    <a href="#" class="order-books"><img src="../images/libro2.jpg"></a>
                    <a href="#" class="order-books"><img src="../images/libro3.jpg"></a>
                    <a href="#" class="order-books"><img src="../images/libro4.jpg"></a>
                    <a href="#" class="order-books"><img src="../images/libro5.jpg"></a>
                    <a href="#" class="order-books"><img src="../images/libro6.jpg"></a>
                    <a href="#" class="order-books"><img src="../images/libro7.jpg"></a>
                    <a href="#" class="order-books"><img src="../images/libro8.jpg"></a>

                </article>
            </section>
            <section class="novedades">
                <p>Lo más nuevo</p>
                <article>

                    <a href="#" class="order-books2"> <img src="../images/novedades1.jpg"></a>
                    <a href="#" class="order-books2"><img src="../images/novedades2.jpg"></a>
                    <a href="#" class="order-books2"><img src="../images/novedades3.jpg"></a>
                    <a href="#" class="order-books2"><img src="../images/novedades4.jpg"></a>
                    <a href="#" class="order-books2"><img src="../images/novedades5.jpg"></a>
                    <a href="#" class="order-books2"><img src="../images/novedades6.jpg"> </a>
                    <a href="#" class="order-books2"><img src="../images/novedades7.jpg"></a>
                    <a href="#" class="order-books2"><img src="../images/novedades8.jpg"> </a>
                </article>
            </section>
            <section class="section-novelas">
                <p>Novelas</p>
                <article>
                    <a href="#" class="order-books3"><img src="../images/novela1.jpg"></a>
                    <a href="#" class="order-books3"><img src="../images/novela2.jpg"></a>
                    <a href="#" class="order-books3"><img src="../images/novela3.jpg"></a>
                    <a href="#" class="order-books3"><img src="../images/novela4.jpg"></a>
                    <a href="#" class="order-books3"><img src="../images/novela5.jpg"></a>
                    <a href="#" class="order-books3"><img src="../images/novela6.jpg"></a>
                    <a href="#" class="order-books3"><img src="../images/novela7.jpg"></a>
                    <a href="#" class="order-books3"><img src="../images/novela8.jpg"></a>
                </article>
            </section>
            <section class="ciencia-ficcion">
                <p>Ciencia Ficcion/Fantasia</p>
                <article>
                    <a href="#" class="order-books4"><img src="../images/cienciafic1.jpg"></a>
                    <a href="#" class="order-books4"><img src="../images/cienciafic2.jpg"></a>
                    <a href="#" class="order-books4"><img src="../images/cienciafic3.jpg"></a>
                    <a href="#" class="order-books4"><img src="../images/cienciafic4.jpg"></a>
                    <a href="#" class="order-books4"><img src="../images/cienciafic5.jpg"></a>
                    <a href="#" class="order-books4"><img src="../images/cienciafic6.jpg"></a>
                    <a href="#" class="order-books4"><img src="../images/cienciafic7.jpg"></a>
                    <a href="#" class="order-books4"><img src="../images/cienciafic8.jpg"></a>
                </article>
            </section>
            <section class="filosofia">
                <p>Conocimiento/Ciencia</p>
                <article>
                    <a href="#" class="order-books5"><img src="../images/filosofia1.jpg"></a>
                    <a href="#" class="order-books5"><img src="../images/filosofia2.jpg"></a>
                    <a href="#" class="order-books5"><img src="../images/filosofia3.jpg"></a>
                    <a href="#" class="order-books5"><img src="../images/filosofia4.jpg"></a>
                    <a href="#" class="order-books5"><img src="../images/filosofia5.jpg"></a>
                    <a href="#" class="order-books5"><img src="../images/filosofia6.jpg"></a>
                    <a href="#" class="order-books5"><img src="../images/filosofia7.jpg"></a>
                    <a href="#" class="order-books5"><img src="../images/filosofia8.jpg"></a>
                </article>
            </section>
            <section class="espiritual">
                <a></a>
                <a></a>
                <a></a>
                <a></a>
                <a></a>
            </section>

        </div>
    </main>
    <footer>
        <div>
            <img src="" alt="">
            <a href="#">Contacto</a>
        </div>
        <div>
            <img src="" alt="">
            <a href="#">Sobre nosotros</a>
        </div>
        <div>
            <img src="" alt="">
            <a href="#">Soporte/Ayuda</a>
        </div>
        <div>
            <img src="" alt="">
            <a href="#">Privacidad</a>
        </div>
        <div>
            <img src="" alt="">
            <a href="#">Terminos y condiciones</a>
        </div>
        <div class="insta-container">
            <a href="#">Siguenos!</a>
            <div><a href="#"><i class="fab fa-instagram"></i></a></div>
        </div>
        <p>Copyright @ Café y Letras 2020</p>
    </footer>


    <script src="../js/menu.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>