<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Seaweed+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="content-icon">
            <button id="btn-menu"><i class="fas fa-bars"></i></button>
            <button id="button-user"><i class="fas fa-user"></i></button>
            <button id="button-search"><i class="fas fa-search"></i></button>
            <button id="button-cart"><i class="fas fa-shopping-cart"></i></button>
        </div>
        <div class="logo">
            <img src="../images/cafe3.png" alt="logo">
        </div>
        <div class="content-options oculto" id="options-menu">
            <a href="#"><i class="fas fa-heart"></i>Nuestro menú</a>
            <a href="#"><i class="fas fa-mug-hot"></i>Solo cafés</a>
            <a href="#"><i class="fas fa-book-reader"></i>Solo Libros</a>
            <a href="#"><i class="fas fa-sign-in-alt"></i>Ingrese o Regístrese</a>
            <a href="#"><i class="fas fa-file-signature"></i>Contáctenos</a>
        </div>
    </header>

    <main>
        <form action="" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email">
            <label for="password">Password</label>
            <input type="password" id="password">
            <div class="remeberme">
                <label for="remeber">Recordarme</label>
                <input type="checkbox" name="remeber" id="remeber" value="recordar">
            </div>
            <button type="submit">Login</button>

        </form>
    </main>
    <footer>
        <div>
            <img src="" alt="">
            <a href="#">Contacto</a>
        </div>
        <div>
            <img src="" alt="">
            <a href="#">Sobre nosotros</a>
        </div>
        <div>
            <img src="" alt="">
            <a href="#">Soporte/Ayuda</a>
        </div>
        <div>
            <img src="" alt="">
            <a href="#">Privacidad</a>
        </div>
        <div>
            <img src="" alt="">
            <a href="#">Terminos y condiciones</a>
        </div>
        <div>
            <img src="" alt="">
            <p>Siguenos</p>
        </div>
        <p>Copyright @ Café y Letras 2020</p>
    </footer>

    <script src="../js/menu.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>