                    * {
                        box-sizing: border-box;
                    }
                    /*Main styles*/
                    
                    header {
                        background-color: black;
                    }
                    
                    header .title-property a {
                        text-decoration: none;
                    }
                    
                    .fullscreen-menu,
                    .seemore,
                    .search-input,
                    .search-input .invisible,
                    .menu-oculto {
                        display: none;
                    }
                    
                    body {
                        margin: 0;
                        background-color: black;
                        font-family: 'Dosis', sans-serif;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
                    
                    .bars-rightmenu,
                    .searcher {
                        display: flex;
                    }
                    
                    .searcher input {
                        color: white;
                        background: black;
                        width: 170px;
                        margin-right: 10px;
                    }
                    
                    .showme {
                        display: block;
                        transform: scale(1.1);
                        transform-origin: center;
                        margin-right: 5px;
                    }
                    /*main*/
                    
                    .myclothesSlides:hover,
                    .myAccesorySlides:hover,
                    .myBijouxSlides:hover,
                    .myHomeSlides:hover {
                        background: black;
                    }
                    
                    .myclothesSlides:hover .clothesbutton,
                    .myAccesorySlides:hover .accesorybutton,
                    .myBijouxSlides:hover .bijouxbutton,
                    .myHomeSlides:hover .homebutton {
                        opacity: 1;
                        width: 60%;
                        color: white;
                        background: black;
                        border: 2px solid red;
                    }
                    /*Lista productos*/
                    
                    .indumentaria .myclothesSlides,
                    .accesorios .myAccesorySlides,
                    .bijouterie .myBijouxSlides,
                    .home .myHomeSlides {
                        display: block;
                        width: 70%;
                        text-align: center;
                        margin: 0 auto;
                        margin-bottom: 0px;
                        border-radius: 10px;
                        margin-bottom: 10px;
                    }
                    
                    .indumentaria .clothes-container a,
                    .accesorios .accesory-container a,
                    .bijouterie .bijoux-container a,
                    .home .home-container a {
                        display: none;
                    }
                    /**/
                    
                    .interludio {
                        width: 100%;
                        text-align: center;
                        font-size: 1.5rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        margin-top: 50px;
                        margin-bottom: 50px;
                        background: black;
                        color: whitesmoke;
                        border: 1px solid;
                        border-left: none;
                        border-right: none;
                    }
                    
                    .legend {
                        width: 48%;
                    }
                    
                    .legend h2 {
                        font-size: 2.375rem;
                    }
                    
                    .legend p {
                        font-size: 1.25rem;
                        letter-spacing: 2px;
                    }
                    
                    .banner-publicity {
                        display: flex;
                        flex-direction: column;
                        letter-spacing: 2px;
                        margin-top: 60px;
                    }
                    
                    .banner-publicity span {
                        font-size: 1rem;
                        margin-bottom: 15px;
                    }
                    
                    .banner-publicity .iconbanner {
                        margin-left: 5px;
                    }
                    
                    .legend ul i {
                        margin-left: 5px;
                    }
                    
                    .imag-banner {
                        margin: auto 0;
                    }
                    
                    .imag-banner img {
                        width: 100%;
                        height: auto;
                    }
                    
                    .principal-nav {
                        display: flex;
                        justify-content: space-between;
                        padding: 25px;
                        align-items: center;
                    }
                    
                    .title-property {
                        border: 1px solid aliceblue;
                        padding-right: 5px;
                        padding-left: 5px;
                        margin-left: 40px;
                    }
                    
                    .title-property p {
                        color: #dee2e6;
                        letter-spacing: 3px;
                    }
                    
                    .btn-menu a {
                        color: #dee2e6;
                    }
                    
                    .bars-rightmenu a {
                        color: #dee2e6;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                    
                    .btn-menu a:hover,
                    .bars-rightmenu a:hover {
                        color: #d90429;
                    }
                    
                    .desplegado {
                        display: flex;
                        flex-direction: column;
                        background: currentColor;
                        padding: 10px 20px;
                        z-index: 1;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                    }
                    
                    .menu-oculto span,
                    .subnav {
                        padding: 1px;
                    }
                    
                    .subnav i {
                        color: #dee2e6;
                    }
                    
                    .subnav button {
                        display: block;
                        position: relative;
                        padding: 20px 16px 18px 57px;
                        font-size: 0.875rem;
                        line-height: 22px;
                        text-transform: uppercase;
                        color: white;
                        letter-spacing: 0.08em;
                        border: none;
                        background: none;
                        outline: none;
                        width: 100%;
                        text-align: left;
                        cursor: pointer;
                    }
                    
                    .subnav .back {
                        font-size: 1.563rem;
                        line-height: 1;
                        position: absolute;
                        left: 6px;
                        top: 20px;
                    }
                    
                    .subnav .down {
                        position: absolute;
                        top: 27px;
                        right: 31px;
                        font-size: 0.688rem;
                        line-height: 1;
                        color: #b2b2b2
                    }
                    
                    .subnav a {
                        position: relative;
                        display: block;
                        font-size: 0.75rem;
                        line-height: 16px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #dee2e6;
                        text-decoration: none;
                        letter-spacing: 0.2em;
                        padding: 25px 45px 23px 31px;
                    }
                    
                    .menu-oculto .subnav:hover {
                        background: #6a040f;
                        border-radius: 0.4rem;
                    }
                    
                    .menu-inside1 .oculto1 {
                        display: none;
                    }
                    
                    .menu-inside1 .desplegado {
                        display: flex;
                        flex-direction: column;
                        background: currentColor;
                        padding: 10px 20px;
                    }
                    
                    .moving {
                        position: relative;
                        padding-left: 100%;
                        white-space: nowrap;
                        display: inline-block;
                        animation: myfirst 20s linear infinite;
                        background: #6a040f;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-right: 15px;
                        color: #f8edeb;
                    }
                    
                    .stable {
                        padding: 5px;
                        background: #212529;
                        color: whitesmoke;
                    }
                    
                    .product-accesory article,
                    .product-clothes article,
                    .product-bijoux article,
                    .product-home article {
                        display: flex;
                        width: 70%;
                        text-align: center;
                        margin: 0 auto;
                        border-radius: 10px;
                    }
                    
                    article {
                        position: relative;
                        text-align: center;
                        background: linear-gradient(to right, rgba(226, 226, 226, 1) 1%, rgba(226, 226, 226, 1) 2%, rgba(209, 209, 209, 1) 18%, rgba(217, 217, 217, 1) 71%, rgba(218, 218, 218, 1) 77%, rgba(219, 219, 219, 1) 85%, rgba(254, 254, 254, 1) 97%);
                    }
                    
                    article img {
                        margin: 0 auto;
                        padding: 30px;
                        display: flex;
                        height: 18.75rem;
                        background: whitesmoke;
                    }
                    
                    .clothes-detail,
                    .accesory-detail,
                    .bijoux-detail,
                    .home-detail {
                        color: black;
                        margin-top: 20px;
                        font-weight: bold;
                        font-size: inherit;
                        text-shadow: 1px 1px 5px black;
                    }
                    
                    .myclothesSlides:hover .clothes-detail,
                    .myAccesorySlides:hover .accesory-detail,
                    .myBijouxSlides:hover .bijoux-detail,
                    .myHomeSlides:hover .home-detail {
                        color: whitesmoke;
                        margin-top: 20px;
                        font-weight: bold;
                        font-size: inherit;
                        text-shadow: 1px 1px 5px black;
                    }
                    
                    .clothes-price,
                    .accesory-price,
                    .bijoux-price,
                    .home-price {
                        color: #a4161a;
                        font-weight: bolder;
                        font-size: x-large;
                        display: flex;
                        padding: 5px;
                        justify-content: center;
                        text-shadow: 1px 1px 5px;
                    }
                    
                    article div {
                        display: flex;
                    }
                    
                    .clothesbutton,
                    .accesorybutton,
                    .bijouxbutton,
                    .homebutton {
                        width: 100px;
                        height: 40px;
                        margin-bottom: 10px;
                        border-radius: 5px;
                        background: rgba(255, 255, 255, 0);
                        cursor: pointer;
                        border: solid 1px black;
                        font-size: 0.9rem;
                        font-family: 'Pathway Gothic One', sans-serif;
                        transition: width 0.5s, height 0.5s;
                        transition-timing-function: ease;
                    }
                    
                    .clothesbutton:hover,
                    .accesorybutton:hover,
                    .bijouxbutton:hover,
                    .homebutton:hover {
                        background: black;
                        color: white;
                    }
                    
                    article i {
                        position: absolute;
                        top: 22px;
                        right: 20px;
                        color: #8d0801;
                    }
                    
                    article:hover i {
                        transform: rotateZ(360deg);
                        transition: transform 1s;
                    }
                    
                    footer {
                        width: 100%;
                        height: auto;
                        text-align: left;
                        background: black;
                        border-top: 1px solid aliceblue;
                        padding: 0;
                    }
                    
                    footer a {
                        text-decoration: none;
                        color: white;
                    }
                    
                    footer p {
                        color: #dee2e6;
                    }
                    
                    footer a:hover {
                        color: #d90429;
                    }
                    
                    .footernav {
                        border-top: 1px solid #c6c6c6;
                        padding: 0 5vw;
                    }
                    
                    .flew-footer {
                        display: flex;
                        align-items: stretch;
                        flex-wrap: wrap;
                        width: 100%;
                    }
                    
                    .content-footer {
                        border-bottom: 1px solid #C6C6C6;
                        padding: 20px 0;
                        flex: 1 1 100%;
                    }
                    
                    button span {
                        float: right;
                    }
                    
                    .sociallinks {
                        padding: 20px 0;
                        border-bottom: 1px solid #C6C6C6;
                        background: black;
                    }
                    
                    .sociallinks i {
                        margin-right: 20px;
                        color: #dee2e6;
                        background: black;
                    }
                    
                    .sociallinks i:hover {
                        color: #6a040f;
                    }
                    
                    .ocult-menu {
                        display: none;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        padding: 12px 16px;
                        z-index: 1;
                    }
                    
                    .ocult-menu a {
                        text-decoration: none;
                        color: #252323;
                        font-size: 1.2rem;
                        padding: 5px;
                        margin-bottom: 20px;
                    }
                    
                    .ocult-menu span {
                        margin-bottom: 10px;
                    }
                    
                    .ocult-menu a:hover {
                        background: #6a040f;
                        border-radius: 0.2rem;
                    }
                    
                    .footer-title-property {
                        border: 1px solid aliceblue;
                        width: 25%;
                        margin: 0 auto;
                        margin-top: 20px;
                        text-align: center;
                    }
                    
                    .copy {
                        text-align: center;
                    }
                    /*product*/
                    
                    .slideshow-container {
                        /* max-width: 1000px;*/
                        position: relative;
                        margin: auto;
                    }
                    
                    .mySlides {
                        display: none;
                    }
                    
                    .mySlides img {
                        width: 100%;
                    }
                    
                    .prev,
                    .next {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        width: auto;
                        margin-top: -22px;
                        padding: 16px;
                        color: white;
                        font-weight: bold;
                        font-size: 1.125rem;
                        transition: 0.6s ease;
                        border-radius: 0 3px 3px 0;
                        user-select: none;
                    }
                    
                    .next {
                        right: 0;
                        border-radius: 3px 0 0 3px;
                    }
                    
                    .prev:hover,
                    .next:hover {
                        background-color: rgba(0, 0, 0, 0.8);
                    }
                    
                    .dot {
                        cursor: pointer;
                        height: 15px;
                        width: 15px;
                        margin: 0 2px;
                        background-color: #bbb;
                        border-radius: 50%;
                        display: inline-block;
                        transition: background-color 0.6s ease;
                    }
                    
                    .active,
                    .dot:hover {
                        background-color: #717171;
                    }
                    /* Fading animation */
                    
                    .fade {
                        -webkit-animation-name: fade;
                        -webkit-animation-duration: 1.5s;
                        animation-name: fade;
                        animation-duration: 1.5s;
                    }
                    
                    @-webkit-keyframes fade {
                        from {
                            opacity: .4
                        }
                        to {
                            opacity: 1
                        }
                    }
                    
                    @keyframes fade {
                        from {
                            opacity: .4
                        }
                        to {
                            opacity: 1
                        }
                    }
                    
                    @keyframes myfirst {
                        0% {
                            transform: translate(0, 0);
                        }
                        100% {
                            transform: translate(-100%, 0);
                        }
                    }
                    /*Slides indumentaria*/
                    
                    .clothes-container {
                        max-width: 1000px;
                        position: relative;
                        margin: auto;
                    }
                    
                    .myclothesSlides {
                        display: none;
                    }
                    
                    .accesory-container {
                        max-width: 1000px;
                        position: relative;
                        margin: auto;
                    }
                    
                    .myAccesorySlides {
                        display: none;
                    }
                    /*Slides bijoux*/
                    
                    .bijoux-container {
                        max-width: 1000px;
                        position: relative;
                        margin: auto;
                    }
                    
                    .myBijouxSlides {
                        display: none;
                    }
                    
                    .home-container {
                        max-width: 1000px;
                        position: relative;
                        margin: auto;
                    }
                    
                    .myHomeSlides {
                        display: none;
                    }
                    /*Login*/
                    
                    .login-container,
                    .register-container,
                    .contacto-container {
                        display: flex;
                        flex-direction: column;
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                    
                    .login-titles,
                    .register-titles,
                    .contacto-titles {
                        color: whitesmoke;
                        margin: 0 auto;
                    }
                    
                    .contacto-titles {
                        padding: 15px;
                        line-height: 1.5;
                    }
                    
                    .login-titles h2,
                    .register-titles h2,
                    .contacto-titles h2 {
                        text-align: center;
                    }
                    
                    .login-container form,
                    .register-container form,
                    .contacto-container form {
                        color: whitesmoke;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        align-items: center;
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                    
                    .contacto-container form {
                        background-image: url('../images/contact.jpg');
                    }
                    
                    .sub-container-contacto {
                        display: flex;
                        flex-direction: row;
                        width: 90%;
                        justify-content: space-between;
                    }
                    
                    .login-container form input,
                    .register-container form input {
                        width: 70%;
                        height: 5vh;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        border: 1px solid white;
                        background: black;
                        color: white;
                        padding: 5px;
                    }
                    
                    .contacto-container form input {
                        height: 5vh;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        border: 1px solid white;
                        background: black;
                        color: white;
                        padding: 5px;
                        width: 90%;
                    }
                    
                    .contacto-container form textarea {
                        width: 90%;
                        height: 30vh;
                        border: 1px solid white;
                        background: black;
                        color: white;
                        padding: 5px;
                    }
                    
                    .login-container form button,
                    .register-container form button {
                        width: 70%;
                        height: 5vh;
                        cursor: pointer;
                        background: whitesmoke;
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }
                    
                    .contacto-container form button {
                        width: 90%;
                        height: 5vh;
                        cursor: pointer;
                        background: whitesmoke;
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }
                    
                    .login-container form a,
                    .register-container form a {
                        padding: 5px;
                        text-decoration: none;
                        color: aqua;
                    }
                    
                    .login-container form button:hover,
                    .register-container form button:hover,
                    .contacto-container form button:hover {
                        background: gray;
                    }
                    /*Cart*/
                    
                    .title-cart {
                        color: white;
                        text-align: center;
                        font-size: x-large;
                        letter-spacing: 5px;
                    }
                    
                    .product-cart {
                        width: 80%;
                        margin: 0 auto;
                    }
                    
                    .first-row {
                        display: none;
                    }
                    
                    .second-row {
                        display: flex;
                        flex-direction: row;
                        margin-top: 40px;
                        margin-bottom: 40px;
                    }
                    
                    .second-row img {
                        width: 100%;
                    }
                    
                    .first-column {
                        width: 15%;
                    }
                    
                    .second-column {
                        width: 55%;
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .third-column {
                        width: 15%;
                        display: flex;
                        flex-direction: column;
                        justify-content: unset;
                        align-items: center;
                    }
                    
                    .third-column a {
                        margin-top: 5px;
                        color: #9d0208;
                    }
                    
                    .third-column input {
                        height: 6vh;
                        text-align: center;
                        width: 55%;
                    }
                    
                    .cart-comment {
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .cart-comment textarea {
                        height: 15vh;
                    }
                    
                    span>h3 {
                        text-align: right;
                    }
                    
                    .product-cart span {
                        color: white;
                        text-align: center;
                    }
                    
                    .price-cart {
                        width: 15%;
                    }
                    
                    .product-cart button {
                        border: none;
                        width: 100%;
                        height: 5vh;
                        cursor: pointer;
                        margin-bottom: 40px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    
                    .product-cart button:hover {
                        background: #6a040f;
                    }
                    
                    .first-row {
                        display: none;
                    }
                    /*Product detail*/
                    
                    .main-container-product {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-top: 3rem;
                        margin-bottom: 3rem;
                    }
                    
                    .main-container-product>.main-product {
                        width: calc(60% - 1rem);
                        margin: 0 0.5rem 0.5rem 0.5rem;
                    }
                    
                    .main-product img {
                        width: 100%;
                    }
                    
                    .details-products input {
                        text-align: center;
                    }
                    
                    .main-container-product>.details-products {
                        margin: 0 0.5rem 0.5rem 0.5rem;
                        width: calc(40% - 1rem);
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .details-products span {
                        color: red;
                    }
                    
                    .details-products h3,
                    .details-products p {
                        color: white;
                    }
                    
                    .details-products label {
                        color: white;
                        display: flex;
                        justify-content: center;
                    }
                    
                    .details-products button {
                        margin-top: 0.5rem;
                        cursor: pointer;
                        padding: 5px;
                        color: black;
                        background: whitesmoke;
                        border: 1px solid white;
                    }
                    
                    .details-products button:hover {
                        background: darkgrey;
                    }
                    /*Carga y edicion de productos*/
                    
                    .form-container {
                        color: whitesmoke;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 80%;
                        height: auto;
                        margin: 0 auto;
                        line-height: 35px;
                        margin-bottom: 5.5rem;
                    }
                    
                    .form-container form>div {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .form-container button,
                    .form-container a {
                        margin-top: 1.5rem;
                        cursor: pointer;
                        padding: 5px;
                        color: black;
                        background: whitesmoke;
                        border: 1px solid white;
                        width: 8.5rem;
                        margin-bottom: 1.5rem;
                        margin-left: auto;
                        margin-right: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font: bold 0.7rem Arial;
                        text-decoration: none;
                    }
                    
                    .form-container button:hover,
                    .form-container a:hover {
                        background: rgb(161, 31, 31);
                        border: 1px solid black;
                    }
                    
                    .form-onlynewproducts p,
                    .form-editproducts p {
                        font-size: 0.85rem;
                    }
                    
                    .carga-precio input,
                    .edit-precio input {
                        text-align: center;
                    }
                    
                    .form-delete {
                        width: 100%;
                    }
                    
                    .seleccion-accion {
                        display: flex;
                        flex-direction: row;
                    }
                    
                    .seleccion-accion button {
                        width: 30%;
                        align-items: center;
                    }
                    
                    .form-editproducts,
                    .form-delete,
                    .form-onlynewproducts {
                        display: none;
                    }
                    
                    .mostrarmenu {
                        display: block;
                    }
                    
                    .escondermenu {
                        display: none;
                    }
                    
                    @media all and (min-width:769px) {
                        header i {
                            margin-top: 6px;
                        }
                        .searcher input {
                            width: 270px!important;
                            transform: scale(1.1);
                            transform-origin: center;
                            margin-right: 30px;
                        }
                        .clothes-container,
                        .accesory-container,
                        .bijoux-container,
                        .home-container {
                            overflow: auto;
                            white-space: nowrap;
                            display: block ruby;
                        }
                        .clothes-container .myclothesSlides,
                        .accesory-container .myAccesorySlides,
                        .bijoux-container .myBijouxSlides,
                        .home-container .myHomeSlides {
                            display: block !important;
                            width: 45%;
                        }
                        .clothes-container .prev,
                        .clothes-container .next,
                        .accesory-container .prev,
                        .accesory-container .next,
                        .bijoux-container .prev,
                        .bijoux-container .next,
                        .home-container .prev,
                        .home-container .next {
                            display: none;
                        }
                        .main-container-product {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                        }
                        .main-product {
                            width: calc(40% - 1rem)!important;
                            margin: 0 0.5rem 0.5rem 0.5rem;
                        }
                        .indumentaria .clothes-container,
                        .accesorios .accesory-container,
                        .bijouterie .bijoux-container,
                        .home .home-container {
                            display: flex;
                            flex-flow: row wrap;
                        }
                    }
                    
                    @media (min-width:1024px) {
                        header {
                            position: sticky;
                            top: 0;
                            z-index: 10;
                            margin-top: 30px;
                        }
                        .fullscreen-menu {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                        }
                        .fullscreen-menu a {
                            text-decoration: none;
                            color: whitesmoke;
                            font-size: 1.1rem;
                        }
                        .fullscreen-menu a:hover {
                            color: #d90429;
                        }
                        header .btn-menu {
                            visibility: hidden;
                        }
                        .product-clothes .clothes-container,
                        .product-accesory .accesory-container,
                        .product-bijoux .bijoux-container,
                        .product-home .home-container {
                            overflow: hidden;
                            max-width: 1500px;
                        }
                        .myclothesSlides,
                        .myAccesorySlides,
                        .myBijouxSlides,
                        .myHomeSlides {
                            width: 25% !important;
                        }
                        .myclothesSlides,
                        .myAccesorySlides,
                        .myBijouxSlides,
                        .myHomeSlides {
                            transition: transform 250ms ease-out;
                        }
                        .barr {
                            text-align: center;
                        }
                        .stable {
                            font-size: larger;
                        }
                        .content-footer {
                            display: flex;
                            justify-content: center;
                        }
                        .product-clothes .seemore,
                        .product-accesory .seemore,
                        .product-bijoux .seemore,
                        .product-home .seemore {
                            cursor: pointer;
                            margin: 0 auto;
                            display: flex;
                            margin-top: 50px;
                            padding-right: 15px;
                            padding-left: 15px;
                            color: whitesmoke;
                            background: black;
                            border-radius: 0.4rem;
                            text-decoration: none;
                            border: 1px solid;
                            width: 6%;
                            justify-content: center;
                            font-size: 1.0rem;
                            font-weight: bold;
                        }
                        .product-clothes .seemore:hover,
                        .product-accesory .seemore:hover,
                        .product-bijoux .seemore:hover,
                        .product-home .seemore:hover {
                            background: whitesmoke;
                            color: black;
                        }
                        .social-footer {
                            width: 100%;
                            margin: 0 auto;
                        }
                        .sociallinks {
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                        }
                        .searcher .search-a {
                            cursor: pointer;
                        }
                        .title-property {
                            display: flex;
                            position: absolute;
                            left: 690px;
                        }
                        .bars-rightmenu {
                            justify-content: end;
                            align-items: flex-end;
                            display: flex;
                        }
                        .bars-rightmenu a {
                            color: #dee2e6;
                            margin-right: 20px;
                            margin-left: 20px;
                            cursor: pointer;
                        }
                        .fullscreen-menu {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            margin-top: 40px;
                            letter-spacing: 2px;
                        }
                        .legend h2 {
                            text-transform: uppercase;
                            padding: 65px;
                        }
                        .legend i {
                            margin-left: 10px;
                            font-size: 1.25rem;
                        }
                        .interludio .imag-banner {
                            width: 40%;
                        }
                        .login-container form input,
                        .login-container form button,
                        .register-container form input,
                        .register-container form button {
                            width: 30%;
                            height: 8vh;
                        }
                        .sub-container-contacto {
                            display: flex;
                            flex-direction: row;
                            width: 60%;
                            justify-content: space-between;
                            padding: 5px;
                        }
                        .contacto-container form input {
                            height: 8vh;
                            margin-top: 10px;
                            margin-bottom: 20px;
                            border: 1px solid white;
                            background: black;
                            color: white;
                            padding: 5px;
                            width: 60%;
                        }
                        .contacto-container form input {
                            height: 8vh;
                            margin-top: 10px;
                            margin-bottom: 20px;
                            border: 1px solid white;
                            background: black;
                            color: white;
                            padding: 5px;
                            width: 60%;
                        }
                        .contacto-container form textarea {
                            width: 60%;
                            height: 30vh;
                            border: 1px solid white;
                            background: black;
                            color: white;
                            padding: 5px;
                        }
                        .contacto-container form button {
                            width: 60%;
                            height: 8vh;
                            cursor: pointer;
                            background: whitesmoke;
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                        .first-row {
                            display: flex;
                            flex-direction: row;
                            font-size: 1.5rem;
                        }
                        .first-row>span {
                            width: 15%;
                        }
                        .first-row .empty-row {
                            width: 55%;
                        }
                        .main-product {
                            width: calc(30% - 1rem)!important;
                            margin: 0 0.5rem 0.5rem 0.5rem;
                        }
                        .main-container-product>.details-products {
                            margin: 0 0.5rem 0.5rem 0.5rem;
                            width: calc(30% - 1rem);
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                        }
                        .indumentaria article,
                        .accesorios article,
                        .bijouterie article,
                        .home article {
                            margin-bottom: 20px;
                        }
                    }