<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>

    <body>
        <%- include('../partials/header');%>
            <main>
                <div class="contacto-container">
                    <div class="about-titles">
                        <h2>Sobre Nosotros (sobre mi)</h2>
                        <div class="goodbye">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nulla, dignissimos corrupti id temporibus aliquam ut cupiditate, officia explicabo laboriosam magnam debitis aspernatur? Incidunt quia itaque deserunt cum, tempora
                                provident!
                            </p>

                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus similique modi consequatur ex optio iusto, quo repellendus, nihil dolore ab quod eveniet eos, temporibus deserunt a. Earum libero fugiat minus.</p>

                            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis similique minima corrupti assumenda cumque laborum animi eaque voluptate. Blanditiis ipsa harum explicabo voluptate et non? Aliquid dolore eos voluptas ipsa. Lorem
                                ipsum dolor sit amet consectetur adipisicing elit. Numquam id corporis at reprehenderit velit voluptate similique quas, rem unde a. Totam neque exercitationem iure facere molestiae sint, architecto vero nulla? </p>
                            <h3>Occult Luxury</h3>

                            <img src="/images/angel.jpg" alt="">
                        </div>

                    </div>
                </div>




            </main>
            <%- include('../partials/footer'); %>
                <script src="../../js/menu.js"></script>
                <script src="../js/contacto.js"></script>




    </body>

</html>