<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <title>Nueva Tienda - Contacto</title>
</head>

<body>
    <header>
        <nav class="principal-nav">
            <div class="btn-menu" id="btn-menu">
                <a href="#"> <i class="fas fa-bars"></i></a>
            </div>
            <div class="title-property">
                <p>Occult Luxury</p>

            </div>
            <div class="bars-rightmenu">
                <div class="searcher">
                    <form action="" class="search-input">
                        <input type="text" id="search" name="search" placeholder="Buscar">
                    </form>
                    <a class="search-a" onclick="desplegarSearch()"><i class="fas fa-search"></i></a>

                </div>

                <a href="#"><i class="fas fa-user"></i></a>
                <a href="/product/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </nav>
        <nav class="menu-oculto oculto" id="options-menu">
            <div class="subnav">
                <a href="#" onclick="cerrarNav()">
                    <span>Volver</span>
                    <i class="fas fa-caret-left back"></i>

                </a>
            </div>
            <div class="slide-container">
                <div class="subnav">
                    <a href="#">Indumentaria
                       <span></span>
                     
                   </a>
                </div>
                <div class="subnav">
                    <a href="#">Accesorios
                        <span></span>
                  
                    </a>

                </div>
                <div class="subnav">
                    <a href="#">Bijouterie
               
                    </a>
                </div>
                <div class="subnav">
                    <a href="#">Hogar
                    </a>
                </div>
                <div class="subnav">
                    <a href="#">Contacto </a>
                </div>

            </div>

        </nav>
        <nav class="fullscreen-menu">
            <a href="/">Home</a>
            <a href="#">Accesorios</a>
            <a href="#">Bijouterie</a>
            <a href="#">Hogar</a>
            <a href="#">Contacto</a>
        </nav>
        <hr>

    </header>
    <main>
        <div class="contacto-container">
            <div class="contacto-titles">
                <h2>Contactenos</h2>
                <p>Para cualquier pregunta o pedido por información adicional, por favor siéntase libre en contactarnos. Simplemente rellene el siguiente formulario y nos comunicaremos con ud. a la brevedad.</p>
            </div>
            <form action="" method="POST">
                <div class="sub-container-contacto">
                    <input type="nombre" id="nombre" placeholder="Su nombre">
                    <input type="email" id="email" placeholder="Su email">
                </div>
                <input type="text" id="telefono" placeholder="Su telefono (opcional)">
                <textarea placeholder="Su mensaje"></textarea>
                <button type="submit">Enviar</button>


            </form>
        </div>




    </main>
    <footer>
        <div class="footernav">
            <div class="flew-footer">
                <div class="content-footer">
                    <a href="#">Sobre Nosotros</a>
                </div>
                <div class="content-footer">
                    <a href="#">Contacto</a>

                </div>
                <div class="content-footer">
                    <a href="#">Ayuda</a>
                </div>
                <div class="social-footer">
                    <div class="sociallinks">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"> <i class="fab fa-twitter"></i></a>
                        <a href="#"> <i class="fab fa-youtube"></i></a>

                    </div>
                </div>


            </div>
            <div class="footer-title-property">
                <p>Occult Luxury</p>

            </div>
            <div class="copy">
                <p>© Copyright 2020</p>
            </div>

        </div>

    </footer>
    <script src="../js/contacto.js"></script>




</body>

</html>