<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

        <title>Nueva Tienda - Cart</title>
    </head>


</head>

<body>
    <header>
        <nav class="principal-nav">
            <div class="btn-menu" id="btn-menu">
                <a href="#"> <i class="fas fa-bars"></i></a>
            </div>
            <div class="title-property">
                <p>Occult Luxury</p>

            </div>
            <div class="bars-rightmenu">
                <div class="searcher">
                    <form action="" class="search-input">
                        <input type="text" id="search" name="search" placeholder="Buscar">
                    </form>
                    <a class="search-a" onclick="desplegarSearch()"><i class="fas fa-search"></i></a>

                </div>

                <a href="#"><i class="fas fa-user"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </nav>
        <nav class="menu-oculto oculto" id="options-menu">
            <div class="subnav">
                <a href="#" onclick="cerrarNav()">
                    <span>Volver</span>
                    <i class="fas fa-caret-left back"></i>

                </a>
            </div>
            <div class="slide-container">
                <div class="subnav">
                    <a href="#">Indumentaria
                       <span></span>
                     
                   </a>
                </div>
                <div class="subnav">
                    <a href="#">Accesorios
                        <span></span>
                  
                    </a>

                </div>
                <div class="subnav">
                    <a href="#">Bijouterie
               
                    </a>
                </div>
                <div class="subnav">
                    <a href="#">Hogar
                    </a>
                </div>
                <div class="subnav">
                    <a href="#">Contacto </a>
                </div>

            </div>

        </nav>
        <nav class="fullscreen-menu">
            <a href="/">Home</a>
            <a href="#">Accesorios</a>
            <a href="#">Bijouterie</a>
            <a href="#">Hogar</a>
            <a href="/contacto">Contacto</a>
        </nav>
        <hr>

    </header>
    <main>
        <div class="title-cart">
            <h3>Carrito de compras</h3>
        </div>
        <div class="product-cart">
            <form>
                <div class="first-row">
                    <span>Producto</span>
                    <span class="empty-row"></span>
                    <span>Cantidad</span>
                    <span>Total</span>
                </div>
                <hr>
                <div class="second-row">
                    <div class="first-column">
                        <img src="../images/accesorio2.png" alt="">
                    </div>
                    <div class="second-column">
                        <span>Helmet Hat Steam Punk Biker 
                        </span>
                        <span>$850</span>
                    </div>
                    <div class="third-column">
                        <input type="number" id="quantity" name="quantity" min="1" max="5">
                        <a href="#">Quitar</a>
                    </div>
                    <span class="price-cart">$30</span>
                </div>
                <hr>
                <div class="cart-comment">
                    <span>Añadir un comentario</span>
                    <textarea></textarea>
                </div>
                <div>
                    <span><h3>Total $350</h3></span>
                </div>
                <button type="submit">Proceder al pago</button>

            </form>

        </div>














    </main>
    <footer>
        <div class="footernav">
            <div class="flew-footer">
                <div class="content-footer">
                    <a href="#">Sobre Nosotros</a>
                </div>
                <div class="content-footer">
                    <a href="/contacto">Contacto</a>

                </div>
                <div class="content-footer">
                    <a href="#">Ayuda</a>
                </div>
                <div class="social-footer">
                    <div class="sociallinks">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"> <i class="fab fa-twitter"></i></a>
                        <a href="#"> <i class="fab fa-youtube"></i></a>

                    </div>
                </div>


            </div>
            <div class="footer-title-property">
                <p>Occult Luxury</p>

            </div>
            <div class="copy">
                <p>© Copyright 2020</p>
            </div>

        </div>

    </footer>

    <script src="../js/menu.js"></script>
    <script src="../js/cart.js"></script>

</body>

</html>