<footer>
    <div class="footernav">
        <div class="flew-footer">
            <div class="content-footer">
                <a href="#">Sobre Nosotros</a>
            </div>
            <div class="content-footer">
                <a href="/contacto">Contacto</a>

            </div>
            <div class="content-footer">
                <a href="#">Ayuda</a>
            </div>
            <div class="social-footer">
                <div class="sociallinks">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"> <i class="fab fa-twitter"></i></a>
                    <a href="#"> <i class="fab fa-youtube"></i></a>

                </div>
            </div>


        </div>
        <div class="footer-title-property">
            <p>Occult Luxury</p>

        </div>
        <div class="copy">
            <p>© Copyright 2020</p>
        </div>

    </div>

</footer>