<header>
    <nav class="principal-nav">
        <div class="btn-menu" id="btn-menu">
            <a href="#"> <i class="fas fa-bars"></i></a>
        </div>
        <div class="title-property">
            <a href="/">
                <p>Occult Luxury</p>
            </a>

        </div>
        <div class="bars-rightmenu">
            <div class="searcher">
                <form action="/search" method="GET" class="search-input" enctype="multipart/form-data">
                    <input type="text" id="search" name="keywords" placeholder="Buscar productos...">
                </form>
                <a class="search-a" onclick="desplegarSearch()"><i class="fas fa-search"></i></a>

            </div>

            <a href="/users/login"><i class="fas fa-user"></i></a>
            <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </nav>
    <nav class="menu-oculto oculto" id="options-menu">
        <div class="subnav">
            <a href="#" onclick="cerrarNav()">
                <span>Volver</span>
                <i class="fas fa-caret-left back"></i>

            </a>
        </div>
        <div class="slide-container">
            <div class="subnav">
                <a href="/products/indumentaria">Indumentaria
               <span></span>
             
           </a>
            </div>
            <div class="subnav">
                <a href="/products/accesorios">Accesorios
                <span></span>
          
            </a>

            </div>
            <div class="subnav">
                <a href="/products/bijouterie">Bijouterie
       
            </a>
            </div>
            <div class="subnav">
                <a href="/products/home">Hogar
            </a>
            </div>
            <div class="subnav">
                <a href="/users/contacto">Contacto </a>
            </div>

        </div>

    </nav>
    <nav class="fullscreen-menu">
        <a href="/products/indumentaria">Indumentaria</a>
        <a href="/products/accesorios">Accesorios</a>
        <a href="/products/bijouterie">Bijouterie</a>
        <a href="/products/home">Hogar</a>
        <a href="/users/contacto">Contacto</a>
    </nav>
    <hr>

</header>